header{
    color: black;
    opacity: .87;
    font-size: 14px;
    text-align: end;
    line-height: 24px;
    height: 50px;
}
header a{
    color: black;
    text-decoration: none;
    opacity: .7;
    width: 70px;
    display: inline-block;
    text-align: center;
    background-color: rgba(0, 123, 224, 0.712);
    border-radius: 5px;
    /* position: relative;
    float: right; */
}
header a:hover{
    text-decoration: underline;
    opacity: .8;
}
article{
    height: 156px;
    padding-top: 135px;
    text-align: center;
}
article img{
    width: 272px;
    height: 92px;
}
article #text{
    width: 30%;
    height: 20px;
    margin-top: 30px;
    border-radius: 20px;
    padding: 10px 30px;
    border: thin solid gainsboro;
    outline: none;/* Click çerçeveyi gizler.*/
}
article #text:hover{
    box-shadow: 1px 1px 5px 2px rgb(194, 194, 194);
}
/* #text::placeholder{
    color: pink;
} */
article i{
    margin-left: -50px;
}
.fa-magnifying-glass{
    color: rgba(65, 65, 65, 0.678) !important; /*Öncelik verir.*/
    margin-left: 10px;
    margin-top: 43px;
    position: absolute;
}
.buttons{
    margin-top: 35px;
}
.buttons input{
    height: 35px;
    background-color: #3c40430c;
    color: #000000ce;
    border: none;
    border-radius: 5%;
}
.buttons input:hover{
    box-shadow: 0 0 3px 0px rgb(97, 97, 97);
    border-radius: 5%;
}
.buttons input:first-child{
    margin-left: 10px;
}
footer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background-color: #f2f2f2;
    color: #70757a;
}
footer p{
    margin-left: 10px;
}
footer aside{
    border-top: thin solid rgb(107, 107, 107);
}
aside div{
    padding-top: 15px;
    text-align: center;
    display: inline-block;
    width: 33%;
    text-align: center;
}
aside div img{
    width: 10px;
}
aside div a{
    color: #000000ce;
    text-decoration: none;
    padding: 10px;
}
aside div a:hover{
    text-decoration: underline;
}